<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos | Mon Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>À propos de moi</h1>
        <!-- Afficher ta photo -->
        <img src="/static/images/profile.jpeg.jpeg" alt="Ma photo" class="img-fluid rounded mb-3" style="max-width: 200px;">
        <p>Je suis Martine Bienvenue BASSOLE et voici mon parcours...</p>
        <!-- Lien vers ton CV et ton Git seront ajoutés ici plus bas -->
        <a href="/static/files/CV_MARTINE.pdf" target="_blank" class="btn btn-outline-primary">
            Télécharger mon CV
        </a>
        <a href="https://github.com/ton-utilisateur" target="_blank" class="btn btn-outline-secondary">
            Voir mes projets sur GitHub
        </a>
        
        
        <a href="/" class="btn btn-secondary">Retour à l'accueil</a>
    </div>
</body>
</html>
